<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <!--Nav Logo-->
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="../../assets/images/vlogo.png" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            
             <!--Navigation List-->
         <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- All CodeStitch navigations use the same HTML within the cs-ul-wrapper.
             This one has been built with eleventyNavigation in mind, so you don't need to manually set active link styles or adjust HTML whenever a new page is added.
             Should you wish to use this way of working, just replace the .cs-ul-wrapper in the new navigation with the one below-->
             <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            {{ header[page.lang].merchFilter }}
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            {{ header[page.lang].eventNews }}
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            Gallery
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            Stories
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            Unstoppable Playlist
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            History
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#" class="cs-li-link">
                            FAQsaaa
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>

        
    </div>
    <!--Wrapped the bottom container in a wrapper div so we can have a full width background color, and centered the container inside of it-->
    <div class="cs-bottom-bar">
        <div class="cs-container">
            <select onchange="window.location.href=this.value;">
                <option value="/en" {% if page.url.startsWith('/en') %} selected{% endif %}>English</option>
                <option value="/ar" {% if page.url.startsWith('/ar') %} selected{% endif %}>العربية</option>
                <option value="/id" {% if page.url.startsWith('/id') %} selected{% endif %}>Bahasa Indonesia</option>
                <option value="/fr" {% if page.url.startsWith('/fr') %} selected{% endif %}>Français</option>
                <option value="/ru" {% if page.url.startsWith('/ru') %} selected{% endif %}>Русский</option>
                <option value="/vi" {% if page.url.startsWith('/vi') %} selected{% endif %}>Tiếng Việt</option>
            </select>
        </div>
    </div>
</header>